@font-face {
    font-family: Glitter;
    src: url(fonts/iloveglitter.ttf);
}

h1 {
    font-family: Glitter;
    font-size: 50px;
    color: black;
    text-align: center;
}



.margin {
    margin: 100px;
    text-align: center;
}
.container {
    background: transparent;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 20px;
    padding: 4%;
    margin: 20px;
}



.container div {
    background: white;
    border: 3px solid #333;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background-color: white;
}

.container div:first-child {
    grid-column-start: span 2;
}

.container div:nth-child(2) {
    grid-column-start: span 2;
}

.container div:nth-child(3) {
    grid-column-start: span 1;
}

.container div:nth-child(4) {
    grid-column-start: span 1;
}

.container div:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 2;
}

.container div:nth-child(6) {
    grid-column-start: span 1;
}

.container div:nth-child(7) {
    grid-column-start: span 2;
}

.container div:nth-child(8) {
    grid-column-start: span 1;
}

.container div:nth-child(9) {
    grid-column-start: span 1;
}
.container div:nth-child(10) {
    grid-column-start: span 1;
}

.container div:nth-child(11) {
    grid-column-start: span 2;
}

